.input-box {
  display: flex;
  align-items: center;
  margin: 2.5rem 0;
  padding: 2.2rem;
  border-radius: 0.6rem;
  background: rgba(255, 255, 255, 0.3);
}

.input-box input {
  position: relative;
  flex: 1;
  margin-right: 1.25rem;
  padding: 0.9rem 1.25rem;
  border: 0;
  outline: 0;
  font-size: 1.12rem;
  border-radius: 0.3rem;
  user-select: none;
  -moz-user-select: none;
}

.input-box input::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  background-position: calc(100% - 0.6rem);
  background-size: 1.8rem;
  cursor: pointer;
}

.input-box button {
  background: #ffff76;
  border: 0;
  outline: 0;
  padding: 1rem 1.8rem;
  border-radius: 0.3rem;
  font-weight: 500;
  color: #333;
  cursor: pointer;
}